{% extends 'base.html'%}



{% block content%}

    <div class="card mb-3">
        <img src="{{ movie.image.url }}" alt="">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ movie.title}}</h5>
            <p class="card-text">{{ movie.description }}</p>
            <p class="card-text">
                {% if movie.url %}
                    <a class="btn btn-promary" href="{{ movie.url }}">Movie Link</a>
                {% endif %}
            </p>
        </div>
    </div>

{% endblock content%}
