{% extends 'base.html' %}   

{% block content %}
        {%for news in newss%}
        <div class="card" style="width: 18rem;">
            <img src="{{ news.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ news.headline }}</h5>
              <p class="card-text">{{ news.body }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% endfor %}


{% endblock content %}




